.App {
  display: flex;
  flex-direction: column;
}

.App button {
  font-size: 15px;
  background: lightgreen;
  margin: 5px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
}

.App button:focus {
  outline: none;
}

.App .add-btn {
  background: dodgerblue;
  color: white;
}